body {
    background-image: url("../images/hsOZcTp.jpg");
    background-size: cover;

}

h1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 44px;
    margin-top: 30px;
}

.start-button {
    margin-top: 100px;
}

#display-time {
    margin-top: 100px;
    color: white;    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

#game {
    width: 600px;
    margin-top: 100px;
    margin-left: 250px;
    font-size: 24px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    
}
 
.choices {
    padding: 10px;
    margin-right: 20px;
    width: 110px;
    
}

#display-question {
    color: white;
    margin-bottom: 30px;
}

#display-result {
    color: white;
}